<section>
  <h2 class="common-heading"> Update Status </h2>


  <div class="container grid-two-columns">
    <app-navbar></app-navbar>

    <div class="productSection">
      <form [formGroup] = "orderStatusData">
        <div class="grid-products">
          <div class="form-fields">
            <label for="orderId"> Order ID </label>
            <input type="text" name="categoryType" formControlName="orderId">
          </div>
          <div class="form-fields">
            <label for="status"> Order Status </label>
            <select formControlName="status">
              <option *ngFor="let order of orderStatus" [ngValue]="order">
                {{order}}
              </option>
            </select>
          </div>
        </div>
        <div class="formBtn">
          <button class="btn" routerLink="/admin/manageOrders">Back</button>
          <button class="btn" (click)="updateData()"> Update Status </button>

        </div>
      </form>
      <div id="addProductMessage"></div>
    </div>
  </div>
</section>