<div class="grid grid-two-columns">
    <app-navbar></app-navbar>

    <div class="container">
        <section>
            <div id="ordersDashboard" *ngIf="orderData.length!=0">
                <h2 class="common-heading" >Orders</h2>
                <table class="userTable">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>User Name</th>
                            <th>User Address</th>
                            <th>Product</th>
                            <th>Order Status</th>
                            <th>Order Quantity</th>
                            <th>Amount</th>
                            <th>Update Status</th>
                        </tr>
                    </thead>
                    <tbody id="orderDatas">
                        <ng-container *ngFor="let order of orderData">
                            <tr>
                                <td>{{order.orderUniqueId}} </td>
                                <td>{{order.customerName}}</td>
                                <td>{{order.customerAddress}}</td>
                                <td>{{order.title}}</td>
                                <td>{{order.orderStatus}}</td>
                                <td>{{order.quantity}}</td>
                                <td>{{order.actualAmount*order.quantity}}</td>
                                <td routerLink="/admin/orderStatus/{{order.orderUniqueId}}" [queryParams]="{quantity:order.quantity}" > <i class="fa-solid fa-pen-to-square"></i></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </section>
        <div id="ordersBox" *ngIf="orderData.length==0">
            <p> <mark id="markData"> No Orders Has Been Placed </mark> </p>
        </div>
    </div>
</div>
