<div class="grid grid-two-columns">
    <app-navbar></app-navbar>

    <div class="container" *ngIf="paymentInfo.length!=0">
        <section>
            <div id="ordersDashboard">
                <h2 class="common-heading">Payments</h2>
                <table class="userTable">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer ID</th>
                            <th>Payment Status</th>
                        </tr>
                    </thead>
                    <tbody id="orderDatas">
                        <tr *ngFor="let paymentData of paymentInfo">
                            <td>{{paymentData.orderid}}</td>
                            <td>{{paymentData.uid}}</td>
                            <td>{{paymentData.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <div id="paymentBox" *ngIf="paymentInfo.length==0">
        <p> <mark id="markData"> No Payments Have Done Yet </mark> </p>
    </div>
</div>



