<div class="menuBox grid-menu-two">
    <div id="logo">
        <a routerLink="">
            <h2>RK <span> MART </span></h2>
        </a>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li routerLink="/home" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"> <a> <i
                            class="fa-solid fa-house"></i>Home </a></li>

                <li routerLink="/products" [routerLinkActive]="'active'"> <a> <i
                            class="fa-solid fa-bag-shopping"></i>Products </a>
                </li>
                <li routerLink="/contactUs" [routerLinkActive]="'active'"> <a> <i
                            class="fa-solid fa-address-book"></i>Contact </a> </li>
                <button class="loginBtn" class="login" (click)="loginModal()" [hidden]="loggedin"> <i
                        class="fa-solid fa-user"></i> Login
                </button>
                <div routerLink="/cart" [ngClass]="{'activeCartDisplay': loggedin}" [routerLinkActive]="'activeCart'"
                    [hidden]="!loggedin" id="mainPageCart">
                    <a class="cart" attr.current-count="{{cartDataCount}}"> <i
                            class="fa-sharp fa-solid fa-cart-shopping"></i></a>
                    <h3>Cart</h3>
                </div>
            </ul>
        </nav>
        <div [hidden]="!loggedin">
            <div class="user">
                <p id="user" title="{{loggedinUser}}"> <i class="fa-regular fa-circle-user"></i>
                    {{(loggedinUser?.username)||(loggedinUser)|uppercase}}</p>
                <p id="user" title="Logout" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></p>
            </div>
        </div>
    </div>
    <div class="menu-bar" (click)="toggleMenuBar()" >
        <i id="menuBar" class="fa-solid fa-2x fa-bars"></i>
        <i id="closeMenu" class="fa-solid fa-2x fa-xmark"></i>
    </div>
</div>

<!-- ------------------------------Login Section------------------------------- -->

<div class="modelCenter">
    <dialog class="Loginmodal" id="registerModal">
        <div class="loginMain">
            <div class="loginDiv">
                <div class="close" (click)="closePanel()"><i class="fa-solid fa-xmark"></i></div>
                <div class="grid grid-two-columns grid-login-two-columns">
                    <div class="login_Image">
                        <div class="loginMoto">
                            <h2>Login</h2>
                            <p>Get access to your Orders, Wishlist and Wide Range of Products.</p>
                        </div>
                        <div class="LoginImage">
                            <img src={{loginModalImage}} alt="">
                        </div>
                    </div>

                    <div class="login_Data">
                        <form (ngSubmit)="login(loginuser,loginpassword)">
                            <div class="login-fields">
                                <label for="userloginmail">Email</label>
                                <input type="email" placeholder="Enter your Mail" name="usernamillogin" #loginuser
                                    required> <span>
                                </span>
                            </div>
                            <div class="login-fields">
                                <label for="userloginpass">Password</label>
                                <div class="showpass">
                                    <input type="password" placeholder="Enter your Password" name="userloginpass"
                                        #loginpassword required>
                                </div> <span>
                                </span>
                                <p><small> <a (click)="forgot()" title="Forgot Password"> Forgot Password?</a></small>
                                </p>
                            </div>

                            <div class="login-fields loginBtn">
                                <button type="submit" name="submit" class="btn"> Login
                                </button>
                            </div>
                            <p id="loginError"></p>
                        </form>

                        <div class="newuser">
                            <p id="toggleRegister" (click)="registerModal()"> New to RK MART? <span> Create Account
                                </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
</div>

<!-- ------------------------REGISTRATION SECTION ---------------------------------------->
<div class="modelCenter">
    <dialog class="Registermodal">
        <div class="RegistrationDiv">
            <div class="RegisterBox">
                <div class="close" (click)="closePanel()"><i class="fa-solid fa-xmark fa-2x"></i></div>
                <div class="grid-register grid-register-two-columns">
                    <div class="register_Image">
                        <div class="registerMoto">
                            <h2>Register</h2>
                            <p>Get access to Wide Range of Products where it caters every need of your family</p>
                        </div>
                        <div class="registerImage">
                            <img src={{loginModalImage}} alt="">
                        </div>
                    </div>
                    <form [formGroup]="registerForm" (ngSubmit)="registerUser()" class="registerDiv">
                        <div class="form_fields">
                            <input type="text" name="user" title="Enter User Name" formControlName="username"
                                placeholder="User Name" pattern={{alphabetsValidation}} minlength="3" maxlength="10" required>

                            <div class="errorBox"
                                *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].touched || registerForm.controls['username'].dirty)">
                                <div class="errorMessageBox"
                                    *ngIf="registerForm.controls['username'].hasError('pattern1')">
                                    <p>Space Not Allowed</p>
                                </div>
                                <div class="errorMessageBox"
                                    *ngIf="registerForm.controls['username'].hasError('pattern2')">
                                    <p>Consecutive 4 Same Alphabets Not Allowed</p>
                                </div>
                                <div class="errorMessageBox"
                                    *ngIf="registerForm.controls['username'].errors?.['required']">
                                    <p>This is a required field</p>
                                </div>
                                <div class="errorMessageBox"
                                    *ngIf="registerForm.controls['username'].errors?.['pattern']">
                                    <p>Please enter only alphabets</p>
                                </div>
                                <div class="errorMessageBox"
                                    *ngIf="registerForm.controls['username'].errors?.['minlength']">
                                    <p>Please enter at least 3 characters</p>
                                </div>
                            </div>
                        </div>

                        <div class="form_fields">
                            <input type="email" name="mailid" title="Enter Mail" formControlName="mail"
                                placeholder="User Mail"
                                pattern="{{mailValidation}}"required>

                            <div
                                *ngIf="registerForm.controls['mail'].invalid && (registerForm.controls['mail'].touched||registerForm.controls['mail'].dirty)">
                                <p *ngIf="registerForm.controls['mail'].errors?.['required']">This is a required
                                    field</p>
                                <p *ngIf="registerForm.controls['mail'].errors?.['pattern']">Please Enter Valid Mail ID
                                </p>
                            </div>
                        </div>

                        <div class="form_fields">
                            <input type="`" title="Enter Mobile Number" formControlName="mobile" name="mobileNumber"
                                placeholder="Mobile Number" pattern="{{mobileValidation}}" required minlength="10"
                                maxlength="10">
                            <div
                                *ngIf="registerForm.controls['mobile'].invalid && (registerForm.controls['mobile'].touched||registerForm.controls['mobile'].dirty)">
                                <p *ngIf="registerForm.controls['mobile'].errors?.['required']">This is a required field
                                </p>
                                <p *ngIf="registerForm.controls['mobile'].errors?.['pattern']">Please Enter Valid Mobile
                                    Number</p>
                            </div>
                        </div>

                        <div class="form_fields">
                            <input title="Enter Password" name="userPassword" type="password" class="passshow"
                                placeholder="Password" formControlName="password" required>
                            <div
                                *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].touched||registerForm.controls['password'].dirty)">
                                <p *ngIf="registerForm.controls['password'].errors?.['required']">This is a required
                                    field</p>
                                <p *ngIf="registerForm.controls['password'].errors?.['pattern']">Please Enter One Caps,
                                    Small, Number, Special Character, length must be 7 & above </p>
                            </div>
                        </div>
                        <div class="errorData">
                            <p id="registerError"></p>
                        </div>
                        <div class="registerModalBtns">

                            <div class="grid grid-two-columns">
                                <button type="submit" class="btn"> Register
                                </button>
                                <input type="reset" title="Reset Form" value="reset" class="btn">
                                <p class="successfulMessage"></p>
                            </div>

                            <h3 style="text-align: center;">Already a user?</h3> <span>
                                <input type="button" value="Login" class="btn" (click)="loginModal()"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </dialog>
</div>


<!-- -------------------------------Sucess Popup Dialog Box-------------------------------- -->
<dialog class="registerSuccessModal">
    <div class="successMessage">
        <div class="modalBox">
            <i class="fa-solid fa-circle-check fa-4x" style="color: green;"></i>
            <h2>Registered Successful</h2>
            <div class="button">
                <button id="" class="btn" (click)="loginModal()"> Okay </button>
            </div>
        </div>
    </div>
</dialog>

<!-- -------------------------------Forgot Password Popup Dialog Box-------------------------------- -->

<dialog class="forgotPasswordModal">
    <div class="successMessage">
        <div class="modalBox">
            <div class="forgotPasswordModalHead">
                <div class="">
                    <h2>Forgot Password</h2>
                </div>
                <div id="forgotClose" (click)="forgotModalClose()"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="forgotPasswordDiv">
                <form [formGroup]="forgotPasswordFormGroup" (ngSubmit)="forgotPassword(forgotPasswordMail.value)">
                    <label for="email">Email</label>
                    <input type="email"
                        pattern="{{forgotPasswordMailValidation}}"
                        id="forgotPasswordMailId" #forgotPasswordMail placeholder="Enter your Mail"
                        formControlName="forgotMailId" required>
                    <div
                        *ngIf="forgotPasswordFormGroup.controls['forgotMailId'].invalid && (forgotPasswordFormGroup.controls['forgotMailId'].touched||forgotPasswordFormGroup.controls['forgotMailId'].dirty)">
                        <p *ngIf="forgotPasswordFormGroup.controls['forgotMailId'].errors?.['required']">This is a
                            required
                            field</p>
                        <p *ngIf="forgotPasswordFormGroup.controls['forgotMailId'].errors?.['pattern']">Please Enter
                            Valid Mail ID
                        </p>
                    </div>
                    <div class="sendBtn">
                        <button id="" class="btn" type="submit"> Send </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>


<!-- -------------------------------Sucess Popup Dialog Box-------------------------------- -->
<dialog class="ForgotPasswordSuccessModal">
    <div class="successMessage">
        <div class="modalBox">
            <i class="fa-solid fa-circle-check fa-4x" style="color: green;"></i>
            <h2>Request Send Successful</h2>
            <p>We will Reach you through Mail</p>
            <div class="button">
                <button id="" class="btn" (click)="closeSuccessModal()"> Okay </button>
            </div>
        </div>
    </div>
</dialog>