<div class="grid Data-grid-two-columns">
  <app-navbar></app-navbar>

  <div class="container">
    <section class="categoryDiv">

      <div>
        <h2 class="common-heading">Category Details</h2>

        <div class="dashboardOverview">

          <div class="grid dashboardHistory">
            <div class="totalProducts">
              <p>Category</p>
              <p> {{categoryCount}} </p>
            </div>
            <div class="totalUsers">
              <p routerLink="/admin/addCategory">Add category</p>
            </div>
          </div>

        </div>

        <table class="userTable">
          <thead>
            <tr>
              <th>Category ID</th>
              <th>Category Type</th>
              <th>Category Data</th>
              <th>Category Class</th>
              <th>Category Unique Value</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>

          <tbody id="productDatas">
            <ng-container *ngFor="let category of categoryDisplay">
              <tr *ngFor="let categoryData of category.category; index as i">
                <td>{{category.id}}</td>
                <td>{{category.categoryType|titlecase}}</td>
                <td>{{categoryData}}</td>
                <td>{{category.categoryClass[i]}}</td>
                <td>{{category.categoryUniqueValue[i]}}</td>
                <td [routerLink]="['/admin/addCategory/',category.id]" [queryParams]="{categoryType:category.categoryType,category:categoryData,categoryClass:category.categoryClass[i],categoryUnique:category.categoryUniqueValue[i]}" > <i class="fa-solid fa-pen-to-square"></i> </td>
                <td (click)="removeCategory(category.id, categoryData,category.categoryClass[i],category.categoryUniqueValue[i])"> <i class="fa-solid fa-trash"></i> </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>