<!-- ---------------------------FOOTER SECTION------------------------ -->

<footer>
  <div class="container footerData">
    <div class="grid grid-five-columns">
      <div class="about">
        <h3>About</h3>
        <p> RK MART is a self-service shop offering a wide range of variety of products such as household, vegetables, fruits, beverges.</p>
      </div>
      <div class="categories">
        <h3>Categories</h3>
        <ul>
          <li> <a routerLink="/products/grocery"> <i class="fa-solid fa-arrow-right"></i> Groceries </a></li>
          <li> <a routerLink="/products/beverages"> <i class="fa-solid fa-arrow-right"></i> Beverages </a> </li>
          <li> <a routerLink="/products/household"> <i class="fa-solid fa-arrow-right"></i> Household </a></li>
        </ul>
      </div>
      <div class="quick-links">
        <h3>Quick Links</h3>
        <ul>
          <li> <a routerLink=""> <i class="fa-solid fa-arrow-right"></i> Home </a></li>
          <li> <a routerLink="/products"> <i class="fa-solid fa-arrow-right"></i> Products </a>
          <li> <a routerLink="/contactUs"> <i class="fa-solid fa-arrow-right"></i> Contact Us </a>
        </ul>
      </div>
      <div class="contact">
        <h3>Reach Out Us</h3>
        <ul>
          <li> <a href="{{facebookLink}}" target="_blank"> <i
                class="fa-brands fa-square-facebook"></i>Facebook </a></li>
          <li> <a href="{{twitterLink}}" target="_blank"> <i
                class="fa-brands fa-square-twitter"></i>Twitter </a>
          <li> <a href="{{instragramLink}}"> <i class="fa-brands fa-instagram"></i>Instagram </a>
          <li> <a href="{{linkedinLink}}" target="_blank"> <i
                class="fa-brands fa-linkedin"></i>Linkedin </a>
        </ul>
      </div>
      <div class="Address">
        <h3>Help</h3>
        <ul>
          <li> <a href="{{mailUs}}"> <i class="fa-solid fa-paper-plane"></i>Mail Us </a>
          <li> <a href="{{telephone}}"> <i class="fa-solid fa-arrow-right"></i> Telephone </a>
            <hr>
          <li> <a (click)="redirectToMap()"> <i class="fa-solid fa-location-dot"></i> Location </a>
        </ul>
      </div>
    </div>
  </div>
</footer>