<app-menu></app-menu>

<div class="paymentSection">
    <div class="payments">
        <div class="paymentBox">
            <div class="paymentHeader">
                <h2> Payment </h2>
            </div>
            <div>
                <div class="paymentDiv">
                    <div class="paymentImage">
                        <img src="https://img.freepik.com/free-photo/3d-hand-making-cashless-payment-from-smartphone_107791-16609.jpg?w=740&t=st=1691284778~exp=1691285378~hmac=a9baefe7f3b21fd1ff1ac65fdb5fd162cb7d7ac0e36d00ae418b1807f75e6b4e"
                            alt="Pay">
                    </div>
                    <form [formGroup]="payment" (ngSubmit)="paymentModal()" class="cardInfo">
                        <div class="payment-two-columns">
                            <div class="form_fields">
                                <label for="accountNumber"> Account Number </label>
                                <input type="tel" maxlength="16" name="accountNumber" formControlName="accountNumber"
                                    minlength="16" maxlength="16" placeholder="XXXX XXXX XXXX XXXX" required>

                                <div class="errorMessage"
                                    *ngIf="payment.controls['accountNumber'].invalid && (payment.controls['accountNumber'].touched||payment.controls['accountNumber'].dirty)">
                                    <p *ngIf="payment.controls['accountNumber'].errors?.['required']">This is a required
                                        field</p>
                                    <p *ngIf="payment.controls['accountNumber'].errors?.['pattern']">Enter Only Digits
                                    </p>
                                    <p *ngIf="payment.controls['accountNumber'].errors?.['minlength']">Please
                                        Enter 16 Digits Number</p>
                                </div>
                            </div>
                            <div class="form_fields">
                                <label for="cardType"> Card Type </label>
                                <select name="cardType" formControlName="cardType">
                                    <option>Debit Card</option>
                                    <option>Credit Card</option>
                                </select>
                                <div class="errorMessage"
                                    *ngIf="payment.controls['cardType'].invalid && (payment.controls['cardType'].touched||payment.controls['cardType'].dirty)">
                                    <p *ngIf="payment.controls['cardType'].errors?.['required']">This is a required
                                        field</p>
                                </div>
                            </div>
                            <div class="form_fields">
                                <label for="expiry"> Expiry Date </label>
                                <input type="month" name="expiry" [min]="getCurrentDate()" formControlName="expiry"
                                    placeholder="MM/YYYY" required>
                                <div class="errorMessage"
                                    *ngIf="payment.controls['expiry'].invalid && (payment.controls['expiry'].touched||payment.controls['expiry'].dirty)">
                                    <p *ngIf="payment.controls['expiry'].errors?.['required']">This is a required
                                        field</p>
                                </div>
                            </div>
                            <div class="form_fields">
                                <label for="cvv"> CVV </label>
                                <input type="tel" name="cvv" formControlName="cvv" placeholder="XXX" minlength="3"
                                    maxlength="3" required>

                                <div class="errorMessage"
                                    *ngIf="payment.controls['cvv'].invalid && (payment.controls['cvv'].touched||payment.controls['cvv'].dirty)">
                                    <p *ngIf="payment.controls['cvv'].errors?.['required']">This is a required
                                        field</p>
                                    <p *ngIf="payment.controls['cvv'].errors?.['pattern']">Enter Only Digits</p>
                                    <p *ngIf="payment.controls['cvv'].errors?.['minlength']">Please
                                        Enter 3 Digits Number</p>
                                </div>
                            </div>
                        </div>
                        <div id="errorMessageDiv">
                            <p id="errorMessage"></p>
                        </div>

                        <div class="paymentButton-two-columns">
                            <div class="button">
                                <button routerLink="../" id="proceedPayment" class="btn"><i
                                        class="fa-solid fa-arrow-left"></i>
                                    Back</button>
                            </div>

                            <div class="button">
                                <button type="submit" id="payNowBtn" class="btn"> Pay
                                    {{paymentAmount|currency:'INR'}} </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Payment Success Popup  -->

<dialog class="paymentModal">
    <div class="successMessage">
        <div class="modalBox">
            <i class="fa-solid fa-circle-check fa-4x" style="color: green;"></i>
            <h2>Payment Successful</h2>
            <h5>Order Placed Successfully</h5>
            <div class="button">
                <button id="donePayment" class="btn" routerLink="/cart/myOrders"> Okay </button>
            </div>
        </div>
    </div>
</dialog>